data/01_Ruhe.csv
data/01_Ruhe.txt
data/02_Ruhe.csv
data/02_Ruhe.txt
data/03_Ruhe.csv
data/03_Ruhe.txt
data/04_Belastung.csv
data/04_Belastung.txt
data/05_Belastung.csv
data/05_Belastung.txt
data/out.csv
data/ReadMe.txt
instruction/0_Naming_Conventions.pdf
instruction/4_find_peaks.pdf
